html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}

.btn-primary {
    background: #ff8000dc;
    border: none
}

.color-primary {
    color: #ff8000dc;
}

.btn-primary:hover {
    background: #ff8000;
}

#custom-sale .owl-carousel .item .product a {
    overflow: hidden;
}

#custom-sale .owl-carousel .item .product img {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

#custom-sale .owl-carousel .item .product img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#custom-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#custom-sale .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#custom-sale .owl-carousel .owl-nav button.owl-prev span,
#custom-sale .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    padding: 0 1rem;
}

#custom-sale .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}

#custom-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#custom-sale .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}

p a {
    color: black;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: #777777;
}

p a:hover,
ul li a:hover {
    text-decoration: none;
    color: #ff8000;
}